@page
@model IndexModel
@{
    ViewData["Title"] = "Data list";
}

<div class="text-center">
    <h1 class="display-4">Меню на неделю</h1>
    <table class="table" style = "width: 100%; text-align: center">
	<thead>
		<tr>
			<th>Название блюда</th>
			<th>День недели</th>
			<th>Время приёма пищи</th>
			<th>
				Обновление данных
					<a class="btn btn-success" asp-page="/Create">
					Добавить
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>@item.DishName</td>
				<td>@item.Day</td>
				<td>@item.MealTime</td>
				<td class="d-flex justify-content-center">

					<a class="btn btn-primary mr-1" asp-page="/Create" asp-route-guid="@item.Id">
						Изменить
					</a>
					<a class="btn btn-danger" asp-page="/Delete" asp-route-guid="@item.Id">
						Удалить
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
</div>